body {
    background-color: #e8e8e8;
    margin: 0;
    padding: 0;
}
/* Navbar */
.navbar {
    position: relative;
    z-index: 1;
    background-color: rgb(13,77,69);
    background-image: linear-gradient(175deg, rgba(13,77,69,1) 0%, rgba(19,122,109,1) 100%);
}
.navbar-brand {
    font-family: Viga;
    font-size: 32px;
}
.nav-link {
    text-transform: uppercase;
    margin-right: 25px;
    font-size: 12px;
}

.nav-link:hover::after {
    content: '';
    display: block;
    border-bottom: 3px solid #F1C025;
    width: 50%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
}
.navbar-brand, .nav-link{
    color: white !important;
}
.nav-bawah {
    background-color: rgb(13,77,69);
    background-image: linear-gradient(175deg, rgba(13,77,69,1) 0%, rgba(19,122,109,1) 100%);
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
.dropdown-toggle {
    position: relative;
    text-transform: uppercase;
    margin-right: 32px;
    color: white !important;
}

.carousel {
 box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
 border-radius: 12px;
 z-index: 0;
}
.logo img {
    width: 100px;
    height: 100px;
    align-items: center;
}
.judul {
    padding: 10px;
}
/* BreadCrumb */
.breadcrumb {
    margin-top: 100px;
    background-color: rgb(13,77,69);
    background-image: linear-gradient(175deg, rgba(13,77,69,1) 0%, rgba(19,122,109,1) 100%);
}
.breadcrumb-item a {
    color: white !important;
}
.active{
    color: white !important;
}
/*Section*/
.section {
    background-color: #ffffff;
    margin: 5px 25px 50px;
}
/* List Group Side */
.group-list {
    z-index: 0;
}
.is-on {
    background-color: rgb(13,77,69);
    background-image: linear-gradient(175deg, rgba(13,77,69,1) 0%, rgba(19,122,109,1) 100%);
    color: white;
}
.is-on:hover {
    color: white;
}
.search {
    background-color: rgb(13,77,69);
    background-image: linear-gradient(175deg, rgba(13,77,69,1) 0%, rgba(19,122,109,1) 100%);
}
/* Footer */
.id-kantor {
    margin-left: 10px;
    margin-top: 30px;
    margin-bottom: 50px;
    color: white;
}
.footer {
    background-color: rgb(13,77,69);
    background-image: linear-gradient(175deg, rgba(13,77,69,1) 0%, rgba(19,122,109,1) 100%);
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
}
.footer-copyright {
    background-color: rgb(13,77,69);
    background-image: linear-gradient(175deg, rgba(13,77,69,1) 0%, rgba(19,122,109,1) 100%);
    color: white;
}
.text-uppercase {
    margin-top: 30px;
}

/* Info Panel */
.info-panel {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin-top:  -100px;
    background-color: #eeeeee;
    padding: 0 !important;
}
.info-panel img {
    width: 80px;
    height: 80px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.info-panel h4 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 5px;
}

.info-panel p {
    font-size: 14px;
    color: #ACACAC;
    margin-top: -5px;
    font-weight: 200;
}
.inform {
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 5px;
}
.info {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    background-color: white;
    margin-left: 15px;
    margin-bottom: 15px;    
}

/* Baris */
.baris1 {
    margin-left: -90px !important;
    margin-right: -80px !important;
    margin-top: 45px !important;
}
.baris-antri {
    margin-top: 15px !important;
}
/* Card */
.antrian {
    background-color: rgb(13,77,69);
    background-image: linear-gradient(175deg, rgba(13,77,69,1) 0%, rgba(19,122,109,1) 100%);
}
.antrian, h6 {
    color: #ffe000;
}
.inovasi {
    background-color: rgb(13,77,69);
    background-image: linear-gradient(175deg, rgba(13,77,69,1) 0%, rgba(19,122,109,1) 100%);
}
.inovasi, h6 {
    color: #ffe000;
}
.inov, h2 {
    font-family: viga;
    color: #323232;
}
.item {
    height: 9rem;
    width: 10rem;
}
.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}
.artikel-pandemi {
    margin-top: -15px !important;
}
.text-muted{
    background-color: #d4f3ef;
    font-size: 15px;
    height: 5rem;
    width: 8rem;
}
.tx-judul {
    color: rgb(13,77,69);;
}
.skim{
    margin-right: 100px;
}
.font{
    color: grey;
}
/*Form Pengaduan*/
.hub {
    margin-bottom: 450px !important;
    border-radius: 5px;
    background-color:#d63447;
    opacity: 1;
}
.hub:hover {
    opacity: 0.7;
    transition: 0.3s;
}
.hub h3, h5 {
    color: white;
    font-family: viga;
}
/*Antrian WNI*/
.wni {
    
}
/*Hubungi Kami*/
.call h1, h3, h5 {
    color: white;
    font-family: viga;
}
.email {
    height: 150px;
    border-radius: 5px;
    background-color:#d63447;
    opacity: 1;
}
.email:hover {
    opacity: 0.7;
    transition: 0.3s;
}
.wassup {
    height: 150px;
    border-radius: 5px;
    background-color:#25d366;
    opacity: 1;
}
.wassup:hover {
    opacity: 0.7;
    transition: 0.3s;
}
.telpon {
    height: 150px;
    border-radius: 5px;
    background-color:#418bca;
    opacity: 1;
}
.telpon:hover {
    opacity: 0.7;
    transition: 0.3s; 
}

/*content zonaintegrasi*/
.content{
    margin : 40px 0;
}

.content .carousel .card{
    width: 100%;
    box-shadow: none;
}

.box-pembatas{
    margin: 10px 5%;
    height: 10px;
    width: 90%;
    background-color: #0d4d45;
}

.card-img-top{
    margin: 0 7%;
    margin-top: 10px;
    width: 86%;
}
.card{
    background-color: white;
    border: none;
}
.card-text-content{
    font-family: roboto;
    color: #0d4d45;
    text-align: justify;
}
.card-title-content{
    color: #0d4d45;
    font-family: pacifico;
}
/*Antrian*/
.antri {
    margin-top: 30px;
    z-index: 0;
}
.order-card {
    color: #fff;
}

.bg-c-blue {
    background: linear-gradient(45deg,#4099ff,#73b4ff);
}

.bg-c-green {
    background: linear-gradient(45deg,#2ed8b6,#59e0c5);
}

.bg-c-yellow {
    background: linear-gradient(45deg,#FFB64D,#ffcb80);
}

.bg-c-pink {
    background: linear-gradient(45deg,#FF5370,#ff869a);
}
.bg-c-purple {
    background: linear-gradient(45deg,#614385 ,#516395);
}
.antri-shape {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    height: 15rem;
}
.antri-shape:hover {
    opacity: 0.7;
}

.card .card-block {
    padding: 5px;
}
.order-card i {
    font-size: 26px;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}
/*Media Youtube & Twitter*/
.twitter {
    height: 350px;
    width: 400px;
    margin-left: 4rem;
    overflow-y: scroll;
}
.youtube {
    margin-right: 50px;
    height: 350px !important;
    width: 520px;
}
/*Pelayanan WNI*/
.visa-terbatas1{
    margin-left: 60px;
}
.tab-itas {
    height: 600px;
    overflow-y: scroll;
}
    /*Tab Produk Hukum*/
    .container-ph{
        width: 1000px;
        margin: auto;
    }

    .tab-ph {
        float: left;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
        width: 30%;
        height: 690px;
        font-family: roboto;
    }
    .tab-ph button {
        display: block;
        background-color: inherit;
        color: black;
        padding: 10px 15px;
        width: 100%;
        border: none;
        outline: none;
        text-align: left;
        cursor: pointer;
        transition: 0.3s;
        font-size: 17px;
        font-family: roboto;
    }

    .tab-ph button:hover {
        background-color: #ddd;
    }

    .tab-ph button.active {
        background-color: #ccc;
    }

    .tabcontent-ph {
        float: left;
        padding: 0px 12px;
        width: 70%;
        border-left: none;
        height: 700px;
        font-family: roboto;
        font-size: 10px;
    }
/*Pelayanan WNA*/

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
    /*Navbar Atas*/ 
    .logo-kemenkumham {
        width: 25px;
        height: 25px;
    }
    .logo-imigrasi {
        width: 25px;
        height: 25px;
    }
    .navbar-brand {
        font-size: 15px !important;
    }
    /*Section*/
    .section {
        background-color: #ffffff;
        margin: 5px 2px 40px;
    }
    /*Info panel*/
    .info-panel {
        margin-top: 40px;
    }
    /*Mini Carousel*/
    .mini-carousel {
        width: 350px;
        height: 300px;
        margin-left: 48px;
        margin-bottom: -80px;
    }
    /*Antrian*/
    .antri {
        width: 300px;
        height: 200px;
        margin-top: 55px;
        margin-left: 85px;
    }
    .antri-shape {
        height: 200px;
        width: 150px;
    }
    /*Media Youtube & Twitter*/
    .twitter {
        height: 300px;
        width: 260px;
        overflow: scroll;
        margin-left: 20px !important;
    }
    .youtube {
        margin-left: 5px;
        margin-right: 5px;
        height: 200px !important;
        width: 360px;
        justify-content: center;
    }
    .media-info h2 {
        font-size: 25px;
        font-family: viga;
    }
}
/*Extra small devices (portrait phones, less than 768px)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    /*Navbar Atas*/ 
    .logo-kemenkumham {
        width: 35px;
        height: 35px;
    }
    .logo-imigrasi {
        width: 35px;
        height: 35px;
    }
    .navbar-brand {
        font-size: 20px !important;
    }
    /*Info panel*/
    .info-panel {
        margin-top: 40px;
        width: 200px;
    }
    /*Media Youtube & Twitter*/
    .twitter {
        height: 300px;
        width: 260px;
        overflow: scroll;
        margin-left: 20px !important;
    }
    .youtube {
        margin-right: -30px !important;
        height: 300px !important;
        width: 460px;
    }
}
@media (min-width: 768px) and (max-width: 991.98px) {
    .wrapper {
        width:100%;
        z-index: 1; 
      }
      .carousel-item-next, .carousel-item-prev, .carousel-item.active {
          display: block !important;
      }
    .navbar {
        position: relative;
        z-index: 1;
        background-color: rgb(13,77,69);
        background-image: linear-gradient(175deg, rgba(13,77,69,1) 0%, rgba(19,122,109,1) 100%);
    }
    .navbar-brand {
        font-family: Viga;
        font-size: 30px;
    }
    .nav-link {
        text-transform: uppercase;
        margin-right: 32px;
        text-align: center;
        margin-bottom: 5px;
        text-align: center;
    }
    
    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid #F1C025;
        width: 10%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }
    .breadcrumb {
        margin-top: 20px;
    }

    .info-panel {
        box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
        margin-top:  20px;
        background-color: white;
        padding: 0 !important;
    }

    /* Antrian */
    .baris-antri {
        width: 60%;
        height: 60%;
        margin-left: 160px;
        margin-top: 35px !important;
    }
    .card-body {
        height: 45% !important;
    }
    .card-title {
        font-size: 35.5px !important;
    }
}
/*Large devices (desktops, less than 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
    /*Media Youtube & Twitter*/
    .twitter {
        height: 300px;
        width: 260px;
        overflow: scroll;
        margin-left: 20px !important;
    }
    .youtube {
        margin-right: 30px !important;
        height: 300px !important;
        width: 460px;
    }
}
/*Large devices (desktops, less than 1200px and up)*/
@media (min-width: 1200px) {  

}

